{% extends "main/base.html" %}

{% block head_title %}Hello world{% endblock %}



{% block content %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
{% endfor %}


<h3>Open Tables</h3>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Table Name</th>
                <th>Created</th>
                <th>Paid</th>
                <th>Finished</th>
            </tr>
        </thead>
        <tbody>
            {% for order in active_orders %}
            <tr>
                <td><a href= {% url "order-detail-view" order.id %}>{{ order.table.name }}</a></td>
                <td>{{ order.created }}</td>
                <td>{{order.is_paid}}</td>
                <td>{{order.is_finished}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<h3>Undelivered Items</h3>

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width:35%">Item Name</th>
                <th>Quantity</th>
                <th>Table</th>
                <th>Order</th>
            </tr>
        </thead>
        <tbody>
            {% for item in undelivered_items %}
            <tr>
                <td>{{item.menu_item.product.name}} {{item.menu_item.product.unit}} {{item.menu_item.product.size}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.order.table.name}}</td>
                <td><a href={% url 'order-detail-view' item.order.id %}>Order</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    {% if errors %}
        <div class="alert alert-danger">
            <ul>
            {% for field, error in errors.items %}
                <li>{{ field }}: {{ error|join:", " }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}


{% endblock %}