{% extends "main/new_base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            {% include "partials/order_info.html" %}
        </div>
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="text-primary fw-bold m-0">Order Actions</h5>
                </div>
                <div class="card-body" >
                    <form>
                        {% csrf_token %}
                        <button class="btn btn-primary" style="margin-right: 10px;margin-left: 10px;" hx-target="#order-items-container" hx-get="{% url 'menu-category-list-view' %}" hx-trigger="click" hx-swap="innerHTML">
                            Add Item
                        </button>
                        <button class="btn btn-primary" style="margin-right: 10px;margin-left: 10px;" hx-target="#order-items-container" hx-get="{% url 'partial-order-items-list-delete-view' %}" hx-trigger="click" hx-swap="innerHTML">
                            Delete Item
                        </button>
                        <button class="btn btn-primary" style="margin-right: 10px;margin-left: 10px;" hx-post="{% url 'finalize-order-view' order.id %}" hx-trigger="click" hx-swap="none" id="finalizeOrderButton">
                            Finalize Order
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="order-items-container">
            {% include "partials/order_items_list.html" %}
        </div>
    </div>
</div>

<div id="menu-category-container">

</div>

<script>
    document.getElementById('finalizeOrderButton').addEventListener('htmx:afterOnLoad', function() {
        window.location.href = "{% url "home-view" %}";  // replace '/home' with your actual home page URL
    });
</script>
{% endblock %}