{% extends "main/new_base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id="order-info-container">
            {% include "partials/order_info.html" %}
            </div>
        </div>
        <div class="col">
            <div id="order-actions-container">
                {% include "partials/order_detail_actions.html" %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" id="order-items-container">
            {% include "partials/order_items_list.html" %}
        </div>
    </div>
</div>

<div id="menu-category-container">

</div>

<script>
    document.getElementById('finalizeOrderButton').addEventListener('htmx:afterOnLoad', function() {
        window.location.href = "{% url "home-view" %}";  // replace '/home' with your actual home page URL
    });
</script>
{% endblock %}