{% extends "main/new_base.html" %}

{% block content %}


<div id="product-profile-container">

    {% include "partials/product_profile_details.html" %}
</div>

<script>
    document.getElementById('deleteProductButton').addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.xhr.status == 403) {
            window.location.href = event.detail.xhr.responseURL;
        } else if (event.detail.xhr.status == 200) {
            window.location.href = "{% url 'home-view' %}";
        }
    });
</script>
{% endblock content %}