{% extends "main/new_base.html" %}

<h1>Product Details</h1>



<p>{{product.name}} {{product.unit}} {{product.size}}</p>

<hr>

<h1>Menu Item Details</h1>

<p>{{menu_item.category}} {{menu_item.price}} {{menu_item.is_active}}</p>


{% block content %}


<div id="product-profile-container">

    {% include "partials/product_profile_details.html" %}
</div>
<script>
    document.getElementById('deleteProductButton').addEventListener('htmx:afterOnLoad', function() {
        window.location.href = "{% url "home-view" %}";  // Redirect to homeview after product deletion
    });
</script>
{% endblock content %}