<div class="container-fluid">
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Order Quantity per Product</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        {{ chart2|safe}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Revenue by Date</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        {{ chart|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-7 col-xxl-6">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Order Time Distribution</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        {{ chart3|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-5 col-xxl-6">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Revenue by Category</h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        {{ chart4|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
