<div class="menu-category-detail">
  <h2>{{ category.name }}</h2>
  <ul>
    {% for item in category.items %}
      <li>{{ item.name }} - {{ item.price }}</li>
    {% endfor %}
  </ul>
</div>


<div class="row d-flex d-sm-flex justify-content-end">
  <div class="col-md-6 col-xl-3 d-flex d-sm-flex justify-content-end align-items-sm-center justify-content-xl-end mb-4">
      <div class="card shadow border-start-primary py-2" style="background: #dddddd;width: 185px;height: 73px; margin-right:20px;">
          <div class="card-body text-center d-flex justify-content-sm-end" style="margin-top: -7px;">
              <button class="btn btn-warning" hx-target="#table-profile-container" hx-swap="innerHTML" hx-get={% url "table-edit-view" table.id %} type="button" style="margin-right: 5px;margin-left: 5px;">Edit</button>
              <form>{% csrf_token %}<button id="deleteTableButton" class="btn btn-dark" type="button" hx-post={% url "table-delete-view" table.id %} hx-boost="true" hx-confirm="Are you sure you want to delete {{product.name|title}}?" hx-swap="none" style="margin-right: 5px;margin-left: 5px;">Delete</button></form></div>
      </div>
  </div>
</div>
