

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="text-primary fw-bold m-0">Menu Categories</h6>
    </div>
    <div class="card-body justify-content-start align-content-stretch align-self-center flex-wrap justify-content-xl-center align-items-xl-center">
        {% for category in categories %}
            <button hx-get="{% url "menu-item-list-view" category.handle %}" hx-target="#order-items-container" hx-swap="innerHTML" class="btn btn-primary" type="button" style="margin-right: 10px;margin-left: 10px;background: rgb(8,22,64);">{{category.name}}</button>
        {% endfor %}
    </div>
    <button style="display:none" hx-target="#menu-category-container" hx-swap="innerHTML" hx-get={% url "order-detail-view" order.id %} hx-trigger="load delay:4s" class="btn btn-dark fs-3 fw-semibold border rounded" type="button">GO BACK HX</button>

</div>