<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="text-primary fw-bold m-0">Order Details</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                        <h6 class="mb-0"><strong>Table Name</strong></h6><span class="text-m">{{order.table.name}}</span>
                    </div>
                    <div class="col me-2">
                        <h6 class="mb-0"><strong>Order Id</strong></h6><span class="text-m">{{order.id}}</span>
                    </div>
                    <div class="col me-2">
                        <h6 class="mb-0"><strong>Time</strong></h6><span class="text-m">{{ order.created|date:"G:i / j M" }}</span>
                    </div>
                    <div class="col me-2">
                        {% if order.is_paid %}
                        <h6 class="mb-0"><strong>Paid</strong></h6><span class="text-m">{{ order.is_paid|yesno|title }}</span>
                        {% else %}
                        <form>{% csrf_token %}
                        <button class="btn btn-primary" style="padding:7px; margin:3px;" hx-post="{% url 'paid-order-view' %}" hx-trigger="click" hx-target="#order-info-container">Pay</button></form>
                        {% endif %}
                    </div>
                    <div class="col me-2">
                        {% if order.is_finished %}
                        <h6 class="mb-0"><strong>Finished</strong></h6><span class="text-m">{{ order.is_finished|yesno|title }}</span>
                        {% else %}
                        <form>{% csrf_token %}
                        <button class="btn btn-primary" style="padding:7px; margin:3px;" hx-post="{% url 'finalize-order-view' order.id %}" hx-target="#order-info-container" hx-trigger="click" {% if not order.is_paid %} hx-confirm="Order is not paid. Sure to finish?"{% endif %}>
                            Finalize
                        </button></form>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
