<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 fw-bold">Order Items</p><span>Total Bill: {{ order.total_bill }}</span>
    </div>
    <div class="card-body">
        <div id="dataTable" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table id="dataTable" class="table my-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Deliver</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order_items %}
                    <tr>
                        <td>{{item.menu_item.product.name}} {{item.menu_item.product.unit}} {{item.menu_item.product.size}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.created|date:"P" }}</td>
                        <td>{% if item.is_delivered %}
                                <p>Delivered</p>
                            {% else %}
                            <form>{% csrf_token %}
                            <button hx-target="#order-items-container" hx-post={% url "deliver-order-item-view" item.id %} class="btn btn-primary" type="button">Deliver Item</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="menu-category-container">

</div>
