<div class="container">
    <div class="row">
        <div class="col-md-6 col-xxl-5">
            <div class="card mb-3" hx-get={% url "product-profile-files-view" product.handle %} hx-trigger="load" hx-swap="innerHTML">
                <div class="card-body text-center shadow" style="min-height:20vh">
    
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-7">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h6 class="fw-bold text-primary m-0">{{product.name|title}}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4>Description</h4>
                            <p>{{product.description}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h4 class="fw-bold">{{product.unit|title}}</h4>
                            <p class="fw-semibold">Unit</p>
                        </div>
                        <div class="col">
                            <h4 class="fw-bold">{{product.size}}</h4>
                            <p class="fw-semibold">Size</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <h6 class="fw-bold text-primary m-0">Menu Item Details</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="fw-bold">{{menu_item.category}}</h4>
                            <p class="fw-semibold">Category</p>
                        </div>
                        <div class="col">
                            <h4 class="fw-bold">{{menu_item.price}} TL</h4>
                            <p class="fw-semibold">Price</p>
                        </div>
                        <div class="col">
                            <h4 class="fw-bold">{{menu_item.is_active|yesno|title}}</h4>
                            <p class="fw-semibold">Active</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex d-sm-flex justify-content-end">
    <div class="col-md-6 col-xl-3 d-flex d-sm-flex justify-content-end align-items-sm-center justify-content-xl-end mb-4">
        <div class="card shadow border-start-primary py-2" style="background: #dddddd;width: 185px;height: 73px; margin-right:20px;">
            <div class="card-body text-center d-flex justify-content-sm-end" style="margin-top: -7px;"><a href={% url "product-profile-edit-view" product.handle %}><button class="btn btn-warning" type="button" style="margin-right: 5px;margin-left: 5px;">Edit</button></a><form>{% csrf_token %}<button id="deleteProductButton" class="btn btn-dark" type="button" hx-post={% url "product-profile-delete-view" product.handle %} hx-boost="true" hx-confirm="Are you sure you want to delete {{product.name|title}}?" hx-swap="none" style="margin-right: 5px;margin-left: 5px;">Delete</button></form></div>
        </div>
    </div>
</div>


<script>
    document.getElementById('deleteProductButton').addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.xhr.status == 403) {
            window.location.href = event.detail.xhr.responseURL;
        } else if (event.detail.xhr.status == 200) {
            window.location.href = "{% url 'home-view' %}";
        }
    });
</script>