<div class="card shadow mb-3">
    <div class="card-header py-3">
        <h6 class="text-primary fw-bold m-0">{{table.name|title}}</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col">
                <h4 class="fw-bold">{{table.section|title}}</h4>
                <p class="fw-semibold">Section</p>
            </div>
            <div class="col">
                <h4 class="fw-bold">{{table.in_use|yesno|title}}</h4>
                <p class="fw-semibold">In Use</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>{{table.description}}</h4>
                <p>Description</p>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex d-sm-flex justify-content-end">
    <div class="col-md-6 col-xl-3 d-flex d-sm-flex justify-content-end align-items-sm-center justify-content-xl-end mb-4">
        <div class="card shadow border-start-primary py-2" style="background: #dddddd;width: 185px;height: 73px; margin-right:20px;">
            <div class="card-body text-center d-flex justify-content-sm-end" style="margin-top: -7px;">
                <button class="btn btn-warning" hx-target="#table-profile-container" hx-swap="innerHTML" hx-get={% url "table-edit-view" table.id %} type="button" style="margin-right: 5px;margin-left: 5px;">Edit</button>
                <form>{% csrf_token %}<button id="deleteTableButton" class="btn btn-dark" type="button" hx-post={% url "table-delete-view" table.id %} hx-boost="true" hx-confirm="Are you sure you want to delete {{product.name|title}}?" hx-swap="none" style="margin-right: 5px;margin-left: 5px;">Delete</button></form></div>
        </div>
    </div>
</div>


<script>
    document.getElementById('deleteTableButton').addEventListener('htmx:afterRequest', function(event) {
        if (event.detail.xhr.status == 403) {
            window.location.href = event.detail.xhr.responseURL;
        } else if (event.detail.xhr.status == 200) {
            window.location.href = "{% url "tables-by-section-view" %}";
        }
    });
</script>