<div class="card shadow" hx-get={% url "undelivered-items-view" %} hx-trigger='every 6s' hx-swap="outerHTML">
    <div class="card-header py-3">
        <div class="row">
            <div class="col">
                <h3 class="text-primary fw-bold m-0">Undelivered Items</h3>
            </div>
            <div class="col">
                <p class="text-end text-primary m-0 fw-bold">Item count:{{undelivered_items.count}}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="dataTable-1" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table id="dataTable" class="table my-0">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th>Order Time</th>
                        <th>Table</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in undelivered_items %}
                        <tr>
                            <td>{{item.menu_item.product.name|title}}</td>
                            <td>{{item.menu_item.product.unit|title}}</td>
                            <td>{{item.menu_item.product.size}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.created|date:"P"}}<br /></td>
                            <td>{{item.order.table.name}}</td>
                            <td><a href={% url "order-detail-view" item.order.id %}> <button class="btn btn-dark">Order</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>