<div class="card shadow">
    <div class="card-header py-3">
        <div class="row">
            <div class="col">
                <h3 class="text-primary fw-bold m-0">Undelivered Items</h3>
            </div>
            <div class="col">
                <p class="text-end text-primary m-0 fw-bold">Item count:</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="dataTable-1" class="table-responsive table mt-2" role="grid" aria-describedby="dataTable_info">
            <table id="dataTable" class="table my-0">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Unit</th>
                        <th>Size</th>
                        <th>Order Time</th>
                        <th>Table</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chief Executive Officer(CEO)</td>
                        <td>London</td>
                        <td>47</td>
                        <td>2009/10/09<br /></td>
                        <td>$1,200,000</td>
                    </tr>
                    <tr>
                        <td>Ashton Cox</td>
                        <td>Junior Technical Author</td>
                        <td>San Francisco</td>
                        <td>66</td>
                        <td>2009/01/12<br /></td>
                        <td>$86,000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Name</strong></td>
                        <td><strong>Position</strong></td>
                        <td><strong>Office</strong></td>
                        <td><strong>Age</strong></td>
                        <td><strong>Start date</strong></td>
                        <td><strong>Salary</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>