{% load static %}
{% load crispy_forms_tags %}

<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}"  ></script>
<script src="{% static "assets/js/bs-init.js" %}" ></script>
<script src="{% static 'htmx/htmx.min.js' %}"></script>

<link rel="stylesheet" href="{% static "assets/bootstrap/css/bootstrap.min.css" %}" >
<link rel="stylesheet" href="{% static  "assets/css/Nunito.css" %}">
<link rel="stylesheet" href="{% static "assets/fonts/fontawesome-all.min.css" %}" >

<script src="{% static "assets/bootstrap/js/bootstrap.min.js" %}" ></script>
<script src="{% static "assets/js/bs-init.js" %}" ></script>
<script src="{% static "assets/js/theme.js" %}" ></script>

<style>
a {
    color: black;
    background-color: transparent;
}
</style>

