<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "head/css.html" %}
    <title>{% block head_title %}HOME{% endblock head_title %}</title>

</head>


<body>

    <div class="container">
    <div class="sidebar">
    </div>

        <div class="content">
            {% block content %}
            <h1>HOME</h1>
            {% endblock content %}
        </div>

    </div>
   
</body>
</html>

