<nav class="navbar navbar-expand-md bg-body">
    <div class="container-fluid"><a class="navbar-brand" href="{% url "home-view" %}">Home</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link active" href="#">asd</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Second Item</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Third Item</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'menu-item-list-view' %}">Menu Item List</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'menu-category-list-view' %}">Menu Category List</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'product-list-view' %}">Product List</a></li>
            </ul>
        </div>
    </div>
</nav>