<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Orderly</title>
    {% include "head/css.html" %}
</head>

<body id="page-top">
    <div id="wrapper">
        {% include "main/new_navbar.html" %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
                    <div class="container-fluid"><span style="font-weight:bold;">Developed by Kaan Atsever. Find me at:&nbsp;<a href="https://www.linkedin.com/in/kaan-atsever-7b68851b8/" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>&nbsp;&nbsp;<a href="https://github.com/kaanrepo/" target="_blank"><i title="Github" class="fab fa-github-square"></i></a></span></div>
                </nav>
                {% block content %}
                


                {% endblock content %}
            </div>
            {% include "main/footer.html" %}
        </div>
    </div>


</body>

</html>